<% provide(:title, "About") %>
<h1>About DebtHacker</h1>
<p>
	DebtHacker is a feature that could be layered onto existing repayment plan calculators (of which we’ve found quite a few great ones including Simple Tuition’s http://paybacksmarter.com/). After answering a few simple questions such as (but not necessarily these questions) “Did you graduate?” or “Are you currently employed?” we would generate a “Hack Profile” that would give tailored information on repayment plans to the individual, making sure that, for example, those who have risk factors for delinquency, would have easy access to information on deferment, forbearance, and income-driven plans.
</p>

<p>
	We picture this being the first step in trying to provide more contextualized information about repayment to students who are confused by the many repayment options they have to choose from, especially those borrowers most at risk of default. We should be able to get a prototype of this done by January 15th. We are still thinking of how to provide better context to loan repayment depending on major life milestones, something that we’ve seen many calculators try and do but fall short, but that would be a feature of DebtHacker 2.0. This idea is simple but still would be valuable to borrowers, and is something we haven’t seen during our research to see what other kinds of online repayment tools already exist.
</p>