<div class="row">
	<div class="span4">
		<h3>(Green) Compare Repayment Plans</h3>
	</div>
	<div class="span8">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, sint, hic, minima nesciunt porro quidem quaerat cupiditate id voluptates distinctio facere libero cum ducimus eaque architecto provident at ad inventore.</p>
		<p>Link to PBS.</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h3>Prepayment</h3>
	</div>
	<div class="span8">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, sint, hic, minima nesciunt porro quidem quaerat cupiditate id voluptates distinctio facere libero cum ducimus eaque architecto provident at ad inventore.</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h3>Consolidation</h3>
	</div>
	<div class="span8">
		<p><strong>Federal</strong></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, sint, hic, minima nesciunt porro quidem quaerat cupiditate id voluptates distinctio facere libero cum ducimus eaque architecto provident at ad inventore.</p>

		<p><strong>Private</strong></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, sint, hic, minima nesciunt porro quidem quaerat cupiditate id voluptates distinctio facere libero cum ducimus eaque architecto provident at ad inventore.</p>
	</div>
</div>