<div class="row">
	<div class="span-12">
		<h3>Hi <%= @user.name %>,</h3>
		<p class="lead">Some borrowers like you have trouble paying off their loans, so you may want to pay close attention to the resources below. These resources were chosen based on your responses to questions from the sign-up process. You can <%= link_to "change your answers", edit_user_path(current_user) %> at any time.</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>Graduated Repayment</h3>
	</div>
	<div class="span8">
		<p>If you're confident that your income will increase over time but want to start tackling your debt with lower payments, the federal Graduated Loan Repayment plan might be for you. Created for borrowers that want to start out with low monthly payments that increase every two years over the 10-year life of the loan, this payment plan best serves those on a career track, who have reliable and increasing incomes.</p>
	</div>
	<div class="span4">
		<p>Learn More</p>
		<ul>
			<li><a href="http://paybacksmarter.com/faq_graduated_repayment">paybacksmarter.com</a></li>

			<li>...</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>Extended Repayment</h3>
	</div>
	<div class="span8">
		<p>The Extended Repayment Plan is for those of you with more debt than you can manage. If you borrowed more than $30,000 in a combination of Federal Stafford, Grad PLUS, or Parent PLUS Loans and are current on all your federal loan payments, you are eligible for 25 years of extended repayment. This is a great plan to consider if you have a high amount of debt and would like to make smaller payments. Contact your federal servicer to request this plan. However, remember that the longer it takes to repay your loan, the more it ultimately costs you. To encourage on-time payment, .25% interest rate reduction is granted to borrowers for payments made through automatic debit.</p>
	</div>
	<div class="span4">
		<p>Learn More</p>
		<ul>
			<li><a href="http://paybacksmarter.com/faq_extended_repayment">paybacksmarter.com</a></li>

			<li>...</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>Pay as You Earn (PAYE) Repayment</h3>
	</div>
	<div class="span8">
		<p>Starting Dec 21, 2012, the Pay As You Earn (PAYE) Repayment plan offers a new way to repay Direct Loans (except for Parent PLUS Loans). Modeled after the IBR rules, PAYE will cap your monthly payment at 10% of discretionary income using your pre tax income. The repayment plan is calculated over 20 years. After 20 years of payments, any remaining amount you have not repaid will be forgiven.</p>
		<p>With PAYE, you get:</p>
		<ul>
			<li>Affordable payments start as low as $0</li>
			<li>Payments eligible for Public Service Loan Forgiveness</li>
			<li>Remaining payment cancellation after 20 years of repayment if you remain in program</li>
			<li>Subsidized loan interest payments for any unpaid interest for up to 3 years if the calculated monthly payment is less than the monthly accrued interest</li>
			<li>No prepayment penalties</li>
		</ul>
	</div>
	<div class="span4">
		<p>Learn More</p>
		<ul>
			<li><a href="http://paybacksmarter.com/faq_pay_as_you_earn_paye">paybacksmarter.com</a></li>
			<li><a href="#">other links</a></li>
			<li>...</li>
		</ul>
	</div>
</div>