<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<%if @user.has_defaulted? %>
			<h3>Has defaulted.</h3>
		<% else %>
			<h3>Has never defaulted.</h3>
		<% end %>

	</div>
</div>