<footer class="footer">
  <small>
    <%= link_to "DebtHacker", root_path %>
    for Education Data Jam 2013 &ndash; 2014
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>